@import '~@angular/material/theming';

@mixin home-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  .home__info {
    background-color: mat-color($primary, 'default');
    color: white;
  }
}
