.sign-up {
  padding-top: 50px;
}

.sign-up__input-field {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.sign-up__button {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
}

.sign-up__button-sign-up {
  color: white;
}

.sign-up__text {
  margin-top: 25px;
  text-align: center;
}

.sign-up__logo {
  display: block;
  margin: 0 auto;
}

.sign-up__header {
  text-align: center;
}