@import '~@angular/material/theming';

@mixin user-profile-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .profile__social-icon {
    color: mat-color($primary, 'default');
    &:hover {
      color: mat-color($primary, 800);
    }
  }
}
